body{
    background-color: black;
}
.box{
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
}
#Lock{
    margin-left: -3.4vw;
    background-color: black;
    border-color: antiquewhite;
    border-width: 1px;
    border-style: solid;
    color: aqua;
    font-size: 40px;
}
#hm{
    margin-top: 15px;
    height: 0;
    text-decoration: none;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    transition: 0.5s;
}
#hm:hover{
    height: 40px;
    border-radius: 2px;
    background-color: brown;
}
#line{

    height: 10px;
    background-color: brown;
}